
<h1>Update Page</h1>
<div class="alert alert-warning" *ngIf=" todoform.dirty && todoform.invalid  ">Enter the valid data</div>
<div class="alert alert-warning" *ngIf=" todoform.dirty && description.invalid ">Length must be minimum</div>
<div class="alert alert-warning" *ngIf=" todoform.dirty && tageteddate.invalid "> must give date</div>

<div class="Container" class="form-group" >
    <form (ngSubmit)="!todoform.invalid && updatethedata()" #todoform="ngForm" >
                <fieldset>
                    <label>Descripton</label>
                    <input type="text"   [(ngModel)]="todo.description" class="form-control" name="description" #description="ngModel" required="required" minlength="5">
                </fieldset>
                <fieldset>
                    <label>Targeted Date</label>
                    <input type="date"  [ngModel]="todo.targetdate | date:'yyyy-MM-dd'" (ngModelChange)="todo.targetdate=$event" #tageteddate="ngModel" class="form-control" name="targetdate" required="required">
                </fieldset>
<br>
<button   type="submit" class="btn btn-primary" >Save</button>
     </form>
</div>
